<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="custom-title">elizabeth braae <small>rails and js developer</small></h3>
        </div>
        <div class="panel-body">
          <p class="pull-right">link to r&eacute;sum&eacute;</p>
          <p class="lead">
            I am a junior web developer
          </p>
          <p class="lead">
            Maecenas faucibus magna ullamcorper, lacinia tellus quis, ornare arcu. Suspendisse pellentesque aliquet ligula eget mattis. Nulla ac lectus mi. Pellentesque et faucibus sapien. Nullam non mi odio. Aliquam tincidunt sit amet est sit amet convallis. Donec rhoncus turpis felis, vel rhoncus ipsum facilisis sed. Sed ultrices massa sit amet felis venenatis condimentum.
          </p>
          <p>
            In hac habitasse platea dictumst. Integer tempus mi ligula, et commodo libero adipiscing vel. Phasellus nunc nibh, auctor eu blandit vel, tempus id magna. Sed non tortor dictum, iaculis nisl vel, vestibulum lectus. Aliquam nec enim et tortor fermentum lobortis. Integer eleifend, neque sit amet egestas rhoncus, metus tortor pulvinar ipsum, quis lobortis tellus lorem vel lacus. Duis vestibulum nunc lectus, at tincidunt nisl vulputate vitae. Sed posuere odio et tortor sollicitudin, aliquam fringilla felis placerat.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
