<div class="container">

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="custom-title">
            personal projects <small>code examples</small>
            <small><%= link_to 'back', projects_path, class:'pull-right' %></small>
          </h3>
        </div>

        <div class="panel-body">
          <%= render 'projects/projects_panel', group:@personal_projects %>
        </div>

      </div>
    </div>
  </div>
</div>
