<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @project.company %>
</p>

<p>
  <strong>Link:</strong>
  <%= @project.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
